<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".SlagalicaApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Slagalica" >
        <activity
            android:name=".MatchingGameActivity"
            android:exported="false" />
        <activity
            android:name=".WhoKnowsKnows"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".MatchPlayActivity"
            android:exported="false" />
        <activity
            android:name=".MatchSummaryActivity"
            android:exported="false" />

        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:exported="false"/>
        <activity
            android:name=".RegisterActivity"
            android:exported="false"/>
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false"/>
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false"/>

        <activity
            android:name=".StepByStepActivity"
            android:exported="false"/>

        <activity
            android:name=".NumbersGameActivity"
            android:exported="false"/>

        <activity android:name=".ProfileActivity"
            android:exported="false"/>

        <activity android:name=".SkockoGameActivity" />

        <activity android:name=".AsocijacijeGameActivity" />

        <activity android:name=".DailyChallengesActivity" android:exported="false" />
        <activity android:name=".NotificationsActivity" />
        <activity android:name=".RegionDetailActivity" android:exported="false" />
        <activity android:name=".TournamentLobbyActivity" android:exported="false" />
        <activity android:name=".MatchLobbyActivity" android:exported="false" />
        <activity android:name=".NetworkMatchActivity" android:exported="false" />
        <activity android:name=".NetworkMatchSummaryActivity" android:exported="false" />
        <activity android:name=".FriendLobbyActivity" android:exported="false" />
        <activity android:name=".network.NetworkWhoKnowsKnows" android:exported="false" />
        <activity android:name=".network.NetworkSpojniceGame" android:exported="false" />
        <activity android:name=".network.NetworkMatchingGame" android:exported="false" />
        <activity android:name=".network.NetworkAsocijacijeGame" android:exported="false" />
        <activity android:name=".network.NetworkSkockoGame" android:exported="false" />
        <activity android:name=".network.NetworkStepByStep" android:exported="false" />
        <activity android:name=".network.NetworkNumbersGame" android:exported="false" />
        <activity android:name=".ChallengeLobbyActivity" android:exported="false" />
        <activity android:name=".ChallengePlayActivity" android:exported="false" />
    </application>

</manifest>
